<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <h1 th:text="${titulo}"></h1>
    <h4 th:text="${factura.descripcion}"></h4>

  <div><span th:text="${factura.cliente}"></span></div>
 
  <h5>Factura</h5>



  
  <thead>
    <tr>
        <th>Produco</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
    </tr>
    <thbody>
      <tr th:earch="item:${factura.item}">
       
    </tr>
    </thbody>
</thead>

</body>

</html>